limpeza para mineração, pré processamento

In [12]:
#importando o divo master
import pandas as pd

In [13]:
#url que contém 50 campos 
url='https://github.com/higoramario/univesp-com360-mineracao-dados/raw/main/dados-covid-limpeza.csv'

#chamando o csv para virar um dataframe 
casos_covid=pd.read_csv(url)
casos_covid.head(10)

   id  idade  uf renda  vacina
0   1   15.0  SP     C       1
1   2   38.0  MG   NaN       0
2   3   49.0  RJ     C       0
3   4   71.0  BA   NaN       0
4   5   58.0  MG     D       1
5   6   26.0  SP     B       0
6   7   87.0  BA   NaN       1
7   8   56.0  MG     A       1
8   9   74.0  BA   NaN       0
9  10   54.0  SP   NaN       0

In [14]:
#visualizar informações
casos_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   30 non-null     float64
 2   uf      29 non-null     object
 3   renda   31 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

In [15]:
#descrever estatisticas sobre nossos dados para verificar o que está rolando
casos_covid.describe()

             id      idade    vacina
count  50.00000  30.000000  50.00000
mean   25.50000  48.666667   0.30000
std    14.57738  22.197131   0.46291
min     1.00000  14.000000   0.00000
25%    13.25000  33.500000   0.00000
50%    25.50000  48.500000   0.00000
75%    37.75000  61.000000   1.00000
max    50.00000  87.000000   1.00000

In [16]:
#contar quantidades de ocorrencias de ufs, para cada valor
casos_covid['uf'].value_counts()

uf
SP    9
MG    5
BA    3
RS    3
RJ    2
PE    2
sp    1
ce    1
rj    1
CE    1
AM    1
Name: count, dtype: int64

In [ ]:
#existem valores iguais que estão com tamanho de fontes diferentes
casos_covid['uf']=casos_covid['uf'].str.upper()

#agora com as fontes arrumadas arrumadas
casos_covid['uf'].value_counts()

uf
SP    10
MG     5
RJ     3
BA     3
RS     3
CE     2
PE     2
AM     1
Name: count, dtype: int64

In [ ]:
#verificando a faixa de renda
casos_covid['renda'].value_counts()

renda
C    14
D     7
B     4
A     3
E     3
Name: count, dtype: int64

In [ ]:
#verificando coluna vacinados
casos_covid['vacina'].value_counts()

vacina
0    35
1    15
Name: count, dtype: int64

In [ ]:
#como faltam idades, usaremos a média, pode ser a mediana,mas usarei a média
casos_covid['idade'] = casos_covid['idade'].fillna(round(casos_covid['idade'].mean()))

#verificando as informações preenchidas
casos_covid['idade'].value_counts()

idade
49.0    21
84.0     2
26.0     2
87.0     2
54.0     2
38.0     2
61.0     2
35.0     1
33.0     1
45.0     1
57.0     1
41.0     1
20.0     1
48.0     1
37.0     1
15.0     1
68.0     1
14.0     1
22.0     1
74.0     1
56.0     1
58.0     1
71.0     1
17.0     1
Name: count, dtype: int64

In [ ]:
#agora, preencher os valores vazios do estado com o valor próximo válido
casos_covid['uf'] = casos_covid['uf'].fillna(method='ffill')

#fazendo a verificação que os dados forem preenchidos 
casos_covid['uf'].value_counts()

C:\Users\nicol\AppData\Local\Temp\ipykernel_21376\3263548062.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  casos_covid['uf'] = casos_covid['uf'].fillna(method='ffill')

uf
SP    20
RJ     6
RS     6
MG     5
PE     5
CE     4
BA     3
AM     1
Name: count, dtype: int64

In [36]:
#vai preencher com os dados válidos anteriores
casos_covid['renda'].fillna(method='bfill')

#fazendo a verificação da renda
casos_covid['renda'].value_counts()

C:\Users\nicol\AppData\Local\Temp\ipykernel_21376\3196557198.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  casos_covid['renda'].fillna(method='bfill')

renda
C    21
D     9
B     8
A     7
E     5
Name: count, dtype: int64

In [37]:
#fazendo a verificação das informações para chechar se tudo foi feito
casos_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   50 non-null     float64
 2   uf      50 non-null     object
 3   renda   50 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

In [39]:
#fazendo a verificação total do dataframe para ver o querido pronto
casos_covid.head(50)

    id  idade  uf renda  vacina
0    1   15.0  SP     C       1
1    2   38.0  MG     C       0
2    3   49.0  RJ     C       0
3    4   71.0  BA     C       0
4    5   58.0  MG     D       1
5    6   26.0  SP     B       0
6    7   87.0  BA     B       1
7    8   56.0  MG     A       1
8    9   74.0  BA     A       0
9   10   54.0  SP     A       0
10  11   22.0  SP     C       1
11  12   38.0  SP     C       0
12  13   14.0  RJ     C       1
13  14   49.0  RJ     C       0
14  15   84.0  RS     D       1
15  16   49.0  RS     D       0
16  17   49.0  SP     E       0
17  18   68.0  SP     E       0
18  19   61.0  SP     D       0
19  20   49.0  RS     E       1
20  21   49.0  RS     E       1
21  22   35.0  SP     D       0
22  23   37.0  SP     C       1
23  24   48.0  RS     C       0
24  25   49.0  RS     C       0
25  26   49.0  CE     C       1
26  27   20.0  CE     C       0
27  28   49.0  SP     B       0
28  29   49.0  SP     B       0
29  30   41.0  RJ     D       1
30  31   49.0  RJ     B       0
31  32   87.0  RJ     B       0
32  33   49.0  SP     A       1
33  34   49.0  SP     A       0
34  35   26.0  CE     C       0
35  36   49.0  CE     C       1
36  37   49.0  SP     D       0
37  38   84.0  SP     C       0
38  39   49.0  SP     A       0
39  40   54.0  PE     A       0
40  41   61.0  PE     B       0
41  42   49.0  PE     B       0
42  43   49.0  SP     C       0
43  44   57.0  SP     C       0
44  45   45.0  SP     C       0
45  46   33.0  AM     D       0
46  47   49.0  PE     D       0
47  48   49.0  PE     E       0
48  49   49.0  MG     C       1
49  50   17.0  MG     C       0